.wrapper{
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner_wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    
    
    h1{
        font-size: 64px;
        font-weight: 400;
        text-align: center;
    }
}
.description{
    font-size: 20px;
    color: #696969;
}