@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.hold_for_show{
  max-width: 1700px;
  margin: 0 auto;
}
@font-face {
  font-family: 'Rebound';
  src: url('/fonts/ESRebondGrotesqueTRIAL-Bold-BF66189040400df.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Rebound';
  src: url('/fonts/ESRebondGrotesqueTRIAL-Thin-BF6618904123ce3.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Rebound';
  src: url('/fonts/ESRebondGrotesqueTRIAL-Semibold-BF66189040640ea.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Rebound';
  src: url('/fonts/ESRebondGrotesqueTRIAL-Regular-BF66189040b697b.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #EDEDED;
}

.beams{
  font-family: "Bad Script", cursive;
}
