* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Rebound';
  src: url('/fonts/ESRebondGrotesqueTRIAL-Bold-BF66189040400df.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Rebound';
  src: url('/fonts/ESRebondGrotesqueTRIAL-Thin-BF6618904123ce3.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Rebound';
  src: url('/fonts/ESRebondGrotesqueTRIAL-Semibold-BF66189040640ea.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Rebound';
  src: url('/fonts/ESRebondGrotesqueTRIAL-Regular-BF66189040b697b.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #EDEDED;
}

.beams{
  font-family: "Rebound";
}
