.wrapper{
    text-align: center;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
}
@media screen and (max-width: 500px) {
    .wrapper{
        font-size: 32px;
        font-weight: 400;
    }
}