.wrapper {
  padding: 30px 137px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 500;
  background-color: rgb(224, 224, 224, 0.7);

  .logo {
    color: #580067;
    height: 64px;
    width: 112px;

    img{
        width: 100%;
        height: 100%;
    }
  }
  a{
    color: inherit;
    text-decoration: none;
  }
}
.navigation {
  display: flex;
  align-items: center;
  gap: 43px;
}
.nav_items {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 16px;
  padding: 0;
  font-family: "Rebound";
  color: #6f6f6f;

  li {
    font-size: 1.25rem;
    cursor: pointer;
  }
}
.hamburger{
  display: none;
}
.hamburgerMobile{
  display: none;
}
.hamburgerMobileclose{
  display: none;
}
@media screen and (max-width: 750px) {
  .wrapper {
    padding: 22px;

    .logo {
      color: #580067;
      height: 32px;
      width: 56px;
    }
  }

  .navigation {
    display: none;
  }
  .hamburger{
    display: block;
    height: 20px;
  }
  .hamburgerMobile{
    position: absolute;
    list-style: none;
    right: 0;
    top: 76px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 500;
    background-color: #E0E0E0;
    font-family: "Rebound";
    transition: width 0.3s ease;
    color: #111;

    li{
      padding: 10px 20px;
      
    }
  }
  .hamburgerMobileclose{
    position: absolute;
    list-style: none;
    right: 0;
    top: 76px;
    width: 0;
    display: flex;
    flex-direction: column;
    z-index: 200;
    background-color: #E0E0E0;
    font-family: "Rebound";
    transition: width 0.3s ease;

    li{
      // display: none;
      
      height: 36px;
      // opacity: 0;
    }
  }
}
