.wrapper{
    padding: 30px 137px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 160;
    background-color: rgb(224, 224, 224, 0.7);

    .logo{
        color: #580067;
        font-size: 35px;
    }
}
.navigation{
    display: flex;
    align-items: center;
    gap: 43px;
}
.nav_items{
    display:  flex;
    align-items: center;
    list-style: none;
    gap: 16px;
    padding: 0;
    font-family: "Rebound";
    color: #6F6F6F;

    li{
        font-size: 1.25rem;
        cursor: pointer;
    }
}

